.emoticonsList {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  flex: 1 1 0;
}
.emoticon {
  border: 1px solid #efe6e6;
  padding: 40px 18px;
  min-width: 265px;
  min-height: 150px;
  display: grid;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.loading {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
